{
  "quotes": [
    {
      "body": [
        {
          "id": "1",
          "type": "root",
          "description": "Root",
          "quantity": null,
          "unit": null,
          "unitPrice": null,
          "totalPrice": null,
          "childrenIds": ["10", "11"],
          "parentId": null
        },
        {
          "id": "10",
          "type": "mainGroup",
          "description": "Matériel",
          "quantity": null,
          "unit": null,
          "unitPrice": null,
          "totalPrice": null,
          "childrenIds": ["7", "8"],
          "parentId": null
        },
        {
          "id": "7",
          "type": "subGroup",
          "description": "Matériel",
          "quantity": null,
          "unit": null,
          "unitPrice": null,
          "totalPrice": null,
          "childrenIds": ["12", "2", "3"],
          "parentId": "10"
        },
        {
          "id": "12",
          "type": "quotationLine",
          "description": "Nordica unlimited Dyn 130, 25.5",
          "quantity": "1",
          "unit": "pcs",
          "unitPrice": "700",
          "totalPrice": 700,
          "childrenIds": [],
          "parentId": "7"
        },
        {
          "id": "2",
          "type": "quotationLine",
          "description": "BlackCrows Mirus Cor 173",
          "quantity": "1",
          "unit": "pcs",
          "unitPrice": "950",
          "totalPrice": 950,
          "childrenIds": [],
          "parentId": "7"
        },
        {
          "id": "3",
          "type": "quotationLine",
          "description": "Marker Griffon, dark blue",
          "quantity": "1",
          "unit": "pcs",
          "unitPrice": "350",
          "totalPrice": 350,
          "childrenIds": [],
          "parentId": "7"
        },
        {
          "id": "8",
          "type": "subGroup",
          "description": "Main d'oeuvre",
          "quantity": null,
          "unit": null,
          "unitPrice": null,
          "totalPrice": null,
          "childrenIds": ["4"],
          "parentId": "10"
        },
        {
          "id": "4",
          "type": "quotationLine",
          "description": "Montage des fixations",
          "quantity": "1",
          "unit": "forfait",
          "unitPrice": "80",
          "totalPrice": 80,
          "childrenIds": [],
          "parentId": "8"
        },
        {
          "id": "11",
          "type": "mainGroup",
          "description": "Accompagnement",
          "quantity": null,
          "unit": null,
          "unitPrice": null,
          "totalPrice": null,
          "childrenIds": ["5", "6"],
          "parentId": null
        },
        {
          "id": "5",
          "type": "quotationLine",
          "description": "Déplacement",
          "quantity": "2",
          "unit": "forfait",
          "unitPrice": "100",
          "totalPrice": 200,
          "childrenIds": [],
          "parentId": "9"
        },
        {
          "id": "6",
          "type": "quotationLine",
          "description": "Cours de ski",
          "quantity": "6",
          "unit": "h",
          "unitPrice": "120",
          "totalPrice": 720,
          "childrenIds": [],
          "parentId": "9"
        }
      ],
      "id": "1"
    }
  ]
}
