<div class="table-container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of headers" [ngStyle]="{ width: header.width }">
          {{ header.display }}
        </th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let line of lines" [ngClass]="'row-' + line['type']">
        <app-displayed-line
          [line]="line"
          [headers]="headers"
          [totalPrice]="getTotalPrice(line)"
        ></app-displayed-line>
        <!-- <td class="cell-actions">
          <button (click)="addLine(line, 'quotationLine')">
            Ajouter une ligne de chiffrage
          </button>
          <button (click)="addLine(line, 'subGroup')">
            Ajouter un sous-groupe
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
  <button (click)="addLine(lines[lines.length - 1], 'mainGroup')">
    Ajouter un groupe principal
  </button>
</div>
