.table-container {
    margin: 200px auto 20px auto;
}

.table-container table {
    border-collapse: collapse;
    background-color: aquamarine;
    border-style: solid;
    border-color: lightgrey;
}

.table-container th {
    /* border-left: none; */
    border: solid lightgrey;

}


.row-quotationLine {
    background-color: aquamarine;
    border-style: solid;
    border-color: lightgrey;
}

.row-subGroup {
    background-color: aqua;
}

.row-mainGroup {
    background-color: cornflowerblue;
}

.cell-quotationLine {
    border-style: solid;
    border-color: lightgrey;
}

.cell-subGroup {}

.cell-mainGroup {}

.cell-quantity,
.cell-unit,
.cell-unitPrice {
    text-align: center;
}

.cell-totalPrice {
    text-align: center;
    border-style: solid;
    border-color: lightgrey;
}


.cell-actions {
    width: 100px;
    border-style: solid;
    border-color: lightgrey;
}