<div class="table-container">
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      class="button-save"
      (click)="saveQuotation()"
    >
      Enregistrer
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Désignation</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>{{ getPrependIcon(element) }}</mat-icon>
        <input [formControl]="element.get('description')" />
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef class="header-right">Quantité</th>
      <td mat-cell *matCellDef="let element">
        <input
          *ngIf="element.value.type === 'quotationLine'"
          [formControl]="element.get('quantity')"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef class="header-right">unité</th>
      <td mat-cell *matCellDef="let element">
        <input
          *ngIf="element.value.type === 'quotationLine'"
          [formControl]="element.get('unit')"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef class="header-right">PU</th>
      <td mat-cell *matCellDef="let element">
        <input
          *ngIf="element.value.type === 'quotationLine'"
          [formControl]="element.get('unitPrice')"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef class="header-right">Prix total</th>
      <td mat-cell *matCellDef="let element; let idx = index">
        <div class="cell-totalPrice">
          {{ getTotalPriceForLine(element.value, idx).toFixed(2) }}
        </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="row-header"
    ></tr>
    <tr
      [ngClass]="getRowClass(row)"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (contextmenu)="open($event, row.value); $event.preventDefault()"
    >
      <ng-template #rowMenu let-row>
        <section class="row-menu">
          <div (click)="addLine(row, 'quotationLine')">
            Ajouter une ligne de chiffrage
          </div>
          <div (click)="addLine(row, 'subGroup')">Ajouter un sous-groupe</div>
          <div (click)="deleteLine(row)">Supprimer</div>
        </section>
      </ng-template>
    </tr>
  </table>

  <button
    mat-raised-button
    color="basic"
    (click)="addLine(formArray.value.at(0), 'mainGroup')"
    class="button-addMainGroup"
  >
    Ajouter un groupe principal
  </button>
</div>

<!-- for debugging purposes -->
<!-- <pre>
  {{ formArray.value | json }}
</pre> -->
