<div class="table-container">
  <table>
    <tr>
      <th *ngFor="let header of headers" [ngStyle]="{ width: header.width }">
        {{ header.display }}
      </th>
    </tr>
    <tr *ngFor="let line of lines" [ngClass]="'row-' + line['type']">
      <td
        *ngFor="let column of headers"
        [ngClass]="'cell-' + line['type'] + ' cell-' + column.name"
      >
        <span
          *ngIf="line['type'] == 'mainGroup' && column.name == 'description'"
        >
          >>
        </span>
        <span
          *ngIf="line['type'] == 'subGroup' && column.name == 'description'"
        >
          >
        </span>
        <span *ngIf="line['type'] == 'item' && column.name == 'description'">
          --
        </span>
        {{ line[column.name] }}
      </td>
      <td class="cell-actions">actions</td>
    </tr>
  </table>
</div>
