<td
  *ngFor="let column of headers"
  [ngClass]="'cell-' + line['type'] + ' cell-' + column.name"
>
  <span *ngIf="line['type'] == 'mainGroup' && column.name == 'description'">
    >>
  </span>
  <span *ngIf="line['type'] == 'subGroup' && column.name == 'description'">
    >
  </span>
  <span *ngIf="line['type'] == 'quotationLine' && column.name == 'description'">
    --
  </span>
  <span>{{ getPropertyValue(line, column) }}</span>

  <input *ngIf="column.name == 'description'" type="text" />
  <input *ngIf="column.name == 'quantity'" type="number" />
  <input *ngIf="column.name == 'unit'" type="text" />
  <input *ngIf="column.name == 'unitPrice'" type="number" />
  <span *ngIf="column.name == 'totalPrice'">
    {{ totalPrice }}
  </span>
</td>
